@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR:wght@900&display=swap');
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Noto Sans JP', sans-serif;
}
.challenge-list-cont{
  position: absolute;
  top:0;
}
.challenge-carousel-inner{
  height:1000px;
}
.challenge-carousel-text{
  top: 35%;
}   
.challenge-carousel-text>h1{
  font-weight: 900;
  font-size: 48px;
}
.challenge-carousel-text>p{
  font-size: 18px;
}
#col-card{
  top:250px;
  height: 330px;
  position: absolute;
  width:100%;
  
}
.col-4.challenge-col{
  display: inline-block;
  width: 350px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin:0 10px;
  padding: 0;
}
.challenge-card{
  font-family: 'Noto Sans JP', sans-serif;
  color: #585858;
  text-align: left;
}
.card-body{
  height: 274px;
  vertical-align: middle;
  display: inline-block;
}
.card-body>h4{
  padding: 10px 20px;
}
.card-body>img{
  padding: 10px 20px;
}
.card-body>p{
  padding: 10px 20px;
}
.card-body>h5{
  margin: 10px 0;
}
#join-info{
  padding-left: 40px;
  padding-top: 20px;
}
#join-fee{
  margin: 20px 0;
}
.btn.join-modal{
  color: white;
  font-family:'Noto Sans JP', sans-serif;
  font-size: 15px;
  background-color: #00ee99;
  border-radius: 7px 7px 7px;
  box-shadow: 0 0 20px #d6fff1;
  margin-top: 46px;
  margin-left: 40px;

}
.btn.join-modal:hover{
  background-color: #5dffc6;
}
.modal-content{
  padding: 30px 40px;
}
.modal-header{
  display: inline-block;
}
.close {
  float: revert;
}
.modal-title{
  margin: 30px 0;
  font-weight: 900;
}
#modal-header-info{
  margin: 10px 0;
}