@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR:wght@900&display=swap');
h1, h2, h3, h4, h5, h6{
  font-family: 'Noto Sans JP', sans-serif;
}
#btn-group-stats{
  margin: 30px 0 0 0;
  border-radius: 7px;
}
#btn-group-stats>button{
  background-color: #58f1b0;
  border-color: white;
  font-family: 'Noto Sans JP', sans-serif;

}
#btn-group-stats>button:hover{
  background-color: #4fd89e;
}

/* .mypage-title{
  margin: 30px 0;
} */
.mypage-body-title{
  color: #585858;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1px;
  margin: 30px 0;
}

.stat-card{
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  height: 270px;
  background-color: #f7f7f7;
}
.card-title{
  text-align: left;
  color: #555555;
  font-weight: 900;
  padding: 20px 40px;
}
.card-body{
  color: #888888;
}
.card-body>h3{
  margin-top: 40px;
}
.card-body>p{
  font-size: 11px;
}

.stat-main-linechart{
  margin-top: 100px;
}

#lineChart, .label-chart{
  background-color: #f7f7f7;
  border: 0;
}
.select-btn{
  background-color: #58f1b0;
  border: 0;
}
.select-btn:hover{
  background-color: #58f1b0;
}

.week-report, .month-report{
  padding-bottom: 0;
}
